doctype 5
html(lang='en')
	head
		title= pageTitle
		link(rel="stylesheet", type="text/css", href="/css/stylesheet.css")
	body
		div#container
			h1 Test
			p Hallo daar!
		div#blaat
			p Dit valt binnen blaat

		table
			tr
				td Naam
				td Leeftijd
			tr
				td blaat
				td 3
		div.bdsfdsfjsf Hoi
		div.darktheme-background.darktheme-greencolor.darktheme-redborder