doctype 5
html(ng-app="todo")
	head
		title= pageTitle
		link(rel="stylesheet", type="text/css", href="/css/stylesheet.css")
		script(type="text/javascript", src="/js/angular.min.js")
		script(type="text/javascript", src="/js/todos.js")
	body
		div#container
			div(ng-view)#container-inner