body{
	padding: 50px 20px;
	background: #ccc;
}

.border {
	outline: 1px solid #000;
}
#sortable1 div {
	padding: 1px;
	margin: 10px;
	display: block;
	float: left;
	position: relative;
	height: 90px;
	text-align: center;
	width: 170px;
	outline: 1px solid black;
}
.emptyBlock{
	outline: 2px dashed #AAA !important;
}
.emptyBlock:hover {
	outline: 2px dashed #34c3ff !important;
	background: #2ba2d3;
}
.sortPlaceholder{
	background: #2ba2d3 !important;
	outline: 1px solid #34c3ff !important;
}