body{
	padding: 50px 20px;
	background: #ccc;
}

.border {
	outline: 1px solid #000;
}
.navbar-inner .brand {
	margin-left: 0px;
}
#sortable1 div {
	margin: 0 10px 10px 0;
	display: block;
	float: left;
	position: relative;
	height: 90px;
	text-align: center;
}
.col_1 {
	width: 170px;
}
.col_2 {
	width: 350px;
}
.col_3 {
	width: 530px;
}
.col_4 {
	width: 710px;
}
.filledBlock {
	outline: 2px solid #EEE;
	background: #DDD;
	line-height: 90px;
}
.emptyBlock{
	outline: 2px dashed #AAA !important;
	line-height: 90px;
	font-size: 45px;
	color: #BBB;
}
.emptyBlock span {
	display: block;
	height: 100%;
	width: 50%;
	float: left;
	text-align: center;
}
.emptyBlock .addBlock:hover {
	outline: 2px solid #33c5ff !important;
	background: #299ecc;
	color: #1a6380;
}
.emptyBlock .deleteBlock:hover {
	outline: 2px solid #ff3333 !important;
	background: #cc2929;
	color: #801a1a;
}
.sortPlaceholder{
	background: #2ba2d3 !important;
	outline: 1px solid #34c3ff !important;
}