.w650 {
	width: 650px;
}

.w660 {
	width: 660px;
}

.w670 {
	width: 670px;
}

.w680 {
	width: 680px;
}

.w690 {
	width: 690px;
}

.w700 {
	width: 700px;
}

.w710 {
	width: 710px;
}

.w720 {
	width: 720px;
}

.w730 {
	width: 730px;
}

.w740 {
	width: 740px;
}

.w750 {
	width: 750px;
}