* {
	margin:	 			0;
	padding:			0; 
}

body {
	background-color: 	#404040;
	color: 				#E5E5E5;
}

body, input {
	font:				12px 'Consolas', 'Ubuntu mono', monospace;
}

h1 {
	font-size: 			2em;
	font-weight: 		bold;
}

h1, p {
	margin-bottom: 		10px;
}

div#container {
	margin:				10px auto;
	width: 				800px;
}

div#chatbox {
	border: 			1px solid #808080;
	overflow: 			auto;
}

div#wrapper {
	height:		 		400px;
	overflow: 			auto;
}

div#messages {
	padding:			5px;
}

div#messages p {
	margin:				0 0 4px;
}

div#form_msg {
	background-color: 	#E5E5E5;
	margin-right: 		100px;
}

div#form_msg_inner {
	padding: 			5px;
}

input#msg_text {
	width: 				100%;
	border: 			none;
	background-color: 	transparent;
}

input#msg_text:focus {
	outline: 			none;
}

div#submit {
	float: 				right;
	width: 				100px;
	background-color: 	#92CC00;
}

div#submit input {
	background-color: 	transparent;
	border: 			none;
	width: 				100%;
	padding: 			5px 0;
}

div#messages .time {
	color: 				#808080;
}

div#messages .name {
	color:				#92CC00;
}

.green {
	color:				green;
}

.red {
	color:				#CC2828;
}