* {
	margin:	 			0;
	padding:			0; 
}

body {
	background-color: 	#EFEFEF;
}

body, input {
	font:				1em 'Helvetica', Arial, sans-serif;
}

h1 {
	font-size: 			2em;
	font-weight: 		bold;
}

h1, p, form {
	margin-bottom: 		10px;
}

input[type="text"] {
	border:		 		none;
	background-color: 	none;
}

input[type="submit"] {
	border:				1px solid #CCC;
	border-top: 		none;
	background-color: 	#CCC;
	padding: 			8px 10px;
}

div#container {
	margin:				20px auto;
	max-width: 			640px;
}

div#messages-wrapper {
	border: 			1px solid #CCC;
	background-color: 	#FFF;
	height: 			300px;
	overflow: 			auto;
}

div#messages {
	padding:			5px;
}

div#messages p {
	margin:				0 0 4px;
	color: 				#004A7F;
}

div#message {
	width:				528px;
	border:				1px solid #CCC;
	background-color: 	#FFF;
	border-top: 		none;
	padding: 			8px;
}

div#message input {
	outline:			none;
	width: 				100%;
}

input#msg_send {
	width: 				100px;
	float: 				right;
}