* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
	background: #F4F4F4 url('../img/bodybg.png') repeat left top;
	color: #404040;
}

a:link, a:visited {
	color: #0088CC;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

h1 {
	margin: 0 0 12px;
	padding: 0 0 3px;
	font-size: 2em;
	border-bottom: 1px solid #CCC;
}

h2 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 1.4em;
}

p {
	margin: 0 0 10px;
	line-height: 150%;
}

ul {
	margin: 0;
	line-height: 150%;
}

li {
	margin: 0 0 0 20px;
	padding: 0;
	list-style: disc;
}

table {
	border-collapse: collapse;
	width: 100%;
}

thead th {
	font-weight: bold;
}

th, td {
	text-align: left;
	padding: 3px 20px 3px 0;
}

th:last-child, td:last-child {
	padding-right: 0;
}

label {
	display: inline-block;
	width: 100px;
}

input[type="text"],
input[type="integer"],
input[type="number"] {
	border: 1px solid #B3B3B3;
	background-color: #FFF;
	padding: 5px;
	width: 150px;
	color: #404040;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.btn, a.btn {
	display: inline-block;
	background-color: #006FBF;
	border: 1px solid #005999;
	color: #FFF;
	padding: 5px 15px;
	margin: 0 10px 0 0;
	text-decoration: none;
	cursor: pointer;
	vertical-align: top;
	font: 12px Verdana, Geneva, sans-serif
}

.btn:hover, a.btn:hover {
	background-color: #007CD6;
}

div#container {
	width: 800px;
	margin: 20px auto;
	background: transparent url('../img/containerbg.png') repeat left top;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #CCC;
}

div#container-inner {
	padding: 20px;
	overflow: hidden;
	min-height: 200px;
}

div#footer {
	border-top: 1px solid #CCC;
	padding: 10px 20px;
}


/* -------------------------------------
----- Block ----------------------------
------------------------------------- */

div.canvas {
	float: left;
	display: inline;
	width: 560px;
}

div.elements {
	float: right;
	display: inline;
	width: 180px;
}

ul {
	overflow: hidden;
}

.col_1,
.col_2,
.col_3,
.col_4 {
	display: inline-block;
	float: left;
	position: relative;
	margin: 4px 1% 4px 1%;
	line-height: 100px;
	list-style: none;
	background-color: #FAFAFA;
	text-align: center;
	outline: 1px solid #CCC;
	font-weight: bold;
	cursor: move;
}

.canvas .col_1 { width: 23%; }

.canvas .col_2 { width: 48%; }

.canvas .col_3 { width: 73%; }

.canvas .col_4 { width: 98%; }

.elements .col_1, 
.elements .col_2,
.elements .col_3,
.elements .col_4 {
	width: 98%;
}





/* -------------------------------------
----- SECTIONS -------------------------
------------------------------------- */

.dd { position: relative; display: block; margin: 0; padding: 0; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }

.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5; }

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}