.span8
	#sortable1
		div.col_1.filledBlock(data-colSpan='1') ding 1
		div.col_1.filledBlock(data-colSpan='1') ding 2
		div.col_2.filledBlock(data-colSpan='2') ding 3
		div.col_3.filledBlock(data-colSpan='3') ding 4
		div.col_1.filledBlock(data-colSpan='1') ding 5
		div.col_4.filledBlock(data-colSpan='4') ding 6
		div.col_2.filledBlock(data-colSpan='2') ding 7
		div.col_2.filledBlock(data-colSpan='2') ding 8
		div.col_1.filledBlock(data-colSpan='1') ding 9
		div.col_1.filledBlock(data-colSpan='1') ding 10
		div.col_1.filledBlock(data-colSpan='1') ding 11
		div.col_1.filledBlock(data-colSpan='1') ding 12
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;