.span8
	#sortable1
		div.col_1.filledBlock ding 1
		div.col_1.filledBlock ding 2
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;