.span8
	#sortable1.connectedSortable
		div ding 1
		div ding 2
		div ding 3
		div ding 4
		div ding 5
		div ding 6
		div ding 7
		div ding 8
		div ding 9
		div ding 10
		div ding 11
		div ding 12
		div ding 13
		div ding 14
		div ding 15
		div ding 16