.span8
	#sortable1
		div.col_1.filledBlock(data-colSpan='1') Block #1
		div.col_1.filledBlock(data-colSpan='1') Block #2
		div.col_2.filledBlock(data-colSpan='2') Block #3
		div.col_3.filledBlock(data-colSpan='3') Block #4
		div.col_1.filledBlock(data-colSpan='1') Block #5
		div.col_4.filledBlock(data-colSpan='4') Block #6
		div.col_2.filledBlock(data-colSpan='2') Block #7
		div.col_2.filledBlock(data-colSpan='2') Block #8
		div.col_1.filledBlock(data-colSpan='1') Block #9
		div.col_1.filledBlock(data-colSpan='1') Block #10
		div.col_1.filledBlock(data-colSpan='1') Block #11
		div.col_1.filledBlock(data-colSpan='1') Block #12
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;
		div.col_1.emptyBlock
			span.addBlock &#43
			span.deleteBlock &#8722;