.span8
	#sortable1
		div.col_1.filledBlock(data-colSpan='1')
			ul.actions
				li: a.edit(href="#") Edit
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac mi eu velit porttitor aliquam. Nulla tempor egestas augue a pulvinar. In turpis ante, aliquet ac tincidunt quis, rutrum eu erat. Etiam ipsum mauris, placerat id tempus a, venenatis vitae ante.
		div.col_1.filledBlock(data-colSpan='1')
			ul.actions
				li: a.edit(href="#") Edit
			p Block #2
		div.col_2.filledBlock(data-colSpan='2')
			ul.actions
				li: a.edit(href="#") Edit
			p Block #3
		div.col_3.filledBlock(data-colSpan='3')
			ul.actions
				li: a.edit(href="#") Edit
			p Block #4
		div.col_1.filledBlock(data-colSpan='1')
			ul.actions
				li: a.edit(href="#") Edit
			p Block #5
			

		div.col_1.emptyBlock
		div.col_1.emptyBlock

#recycle_bin
