.span8
	#sortable1
		div.col_1.filledBlock ding 1
		div.col_1.filledBlock ding 2
		div.col_1.emptyBlock &#43;
		div.col_1.emptyBlock &#43;
		div.col_1.emptyBlock &#43;
		div.col_1.emptyBlock &#43;
		div.col_1.emptyBlock &#43;
		div.col_1.emptyBlock &#43;
		div.col_1.emptyBlock &#43;
		div.col_1.emptyBlock &#43;
		div.col_1.emptyBlock &#43;
		div.col_1.emptyBlock &#43;