.span8
	#sortable1
		div.filledBlock ding 1
		div.filledBlock ding 2
		div.emptyBlock +
		div.emptyBlock +
		div.emptyBlock +
		div.emptyBlock +
		div.emptyBlock +
		div.emptyBlock +
		div.emptyBlock +
		div.emptyBlock +
		div.emptyBlock +
		div.emptyBlock +