doctype 5
html
	head
		title DDTEST
		link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-responsive.min.css")
		link(rel="stylesheet", type="text/css", href="/css/fixes.css")
		script(type="text/javascript", src="/js/jquery.min.js")
		script(type="text/javascript", src="/js/bootstrap.min.js")
		script(type="text/javascript", src="/js/jquery-ui.js")
		script(type="text/javascript", src="/js/fixes.js")
		block head
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				a.brand(href="/") Reset
		div.container.well
			.row
				include content
				include sidebar