doctype 5
html
	head
		title DDTEST
		link(rel="stylesheet", type="text/css", href="/css/jquery.texteditor.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-responsive.min.css")
		link(rel="stylesheet", type="text/css", href="/css/fixes.css")
		link(rel="stylesheet", type="text/css", href="/css/print.css", media="print")
		script(type="text/javascript", src="/js/jquery.min.js")
		script(type="text/javascript", src="/js/bootstrap.min.js")
		script(type="text/javascript", src="/js/jquery-ui.js")
		script(type="text/javascript", src="/js/yellow_text.js")
		script(type="text/javascript", src="/js/fixes.js")
		script(type="text/javascript", src="/js/functions.js")
		block head
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				a.brand(href="/") Reset
		div.container.well
			.row
				block content
				block sidebar