doctype 5
html
	head
		title DDTEST - print
		script(type="text/javascript", src="/js/jquery.min.js")
		script(type="text/javascript", src="/js/chatFixes.js")
		link(rel="stylesheet", type="text/css", href="/css/print.css", media="print")
		link(rel="stylesheet", type="text/css", href="/css/printDisplay.css")
		block head
	body
		div.w650 w650
		div.w660 w660
		div.w670 w670
		div.w680 w680
		div.w690 w690
		div.w700 w700
		div.w710 w710
		div.w720 w720
		div.w730 w730
		div.w740 w740
		div.w750 w750