.span4#sidebar
	p Add blocks:
	input#addBlocksNumber(type="text", placeholder="number of blocks to add...")
	p: button.btn.btn-primary.addBlocksBefore Add before
	p: button.btn.btn-primary.addBlocksAfter Add after