p
	label(for='name') Name:
	input(type='text', name='name')
p
	label(for='title') Title:
	input(type='text', name='title', style='width:300px')
p
	a(href='#/') Back
	|  
	input(type='submit', name='Save')