h1 Todo's
ul
	li: a(href='#/new') New todo

p: input(type='text', placeholder='Filter results', style='width:250px', ng-model='search') 

table
	thead
		tr
			th Name
			th Title
			th(colspan='2') Actions
	tbody
		//- tr(ng-repeat='todo in todos | filter:search')
		//- 	td {{todo.name}}
		//- 	td {{todo.title}}
		//- 	td: a(href='#/edit/{{todo.id}}') Edit
		//- 	td: a(href='#/delete/{{todo.id}}') Delete


		div(ng-controller='SortableCTRL')
		ul#sortable
			li(ng-repeat='todo in todos | filter:search')
				{{todo.name}}


	pre(ng-bind='sortableArray|json').
