body {
	font: 12px arial;
	background-color: #FFF;
}

div#blocks {
	width: 640px;
	margin: 30px auto;
}

div.col-1,
div.col-2,
div.col-3,
div.col-4 {
	display: inline;
	float: left;
	position: relative;
	margin: 5px 1%;
	min-height: 100px;
	background-color: #E6E6E6;
	cursor: pointer;
	outline: 1px solid #CCC;
}

div.col-1 { width: 23%; }
div.col-2 { width: 48%; }
div.col-3 { width: 73%; }
div.col-4 { width: 98%; }

div.dragged {
	background-color: #DEDEDE;
	z-index: 500;
}

div.closeEnough {
	background: #0FF;
}
div.dragging {
	background-color: #FFF2B2;
	z-index: 1000;
	cursor: move;
}
