extend layout
block content
	h1 Websocket IO
	p Testen met websockets via Socket.io
	div#messages-wrapper
		div#messages

	form#msg_form(action='', autocomplete='off')
		input#msg_send(type='submit', value='Verstuur')
		div#message
			input(type='text', name='message', size="53")

	script(type='text/javascript', src='/js/default.js')
