<!DOCTYPE html>
<html ng-app>
	<head>
		<title>AngularJS</title>
		<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
		<script type="text/javascript" src="/js/angular.min.js"></script>
	</head>
	<body>
		<div id="container">
			<h1><%= pageTitle %></h1>
			<h2>Hello {{Name}}</h2>
			<input type="text" ng-model="Name">

		</div>
	</body>
</html>