extend layout

block head
	script(type="text/javascript")
		function invoiceCount($scope) {
			$scope.quantity = 2;
			$scope.cost = 9.75;
		}

block content
	h1= pageTitle
	table(ng-controller="invoiceCount")
		thead
			tr
				th Aantal
				th Prijs
		tbody
			tr
				td: input(type="integer", ng-model="quantity", required)
				td: input(type="number", ng-model="cost", required)
			tr
				td(style="text-align:right") Totaal:
				td {{ quantity * cost | currency:'&euro; ' }}