extends layout

block head
	script(type='text/javascript', src='/js/blocks.js')

block content
	h1 Blocks

	div.canvas
		h2 Canvas
		ul.sortable
			li.col_2 Block #1
				div.resize 
				div.move 
			li.col_2 Block #2
				div.resize 
				div.move 
			li.col_1 Block #3
				div.resize 
				div.move 
			li.col_3 Block #4
				div.resize 
				div.move 
			li.col_4 Block #5
				div.resize 
				div.move 
			li.col_1 Block #6
				div.resize 
				div.move 
			li.col_1 Block #7
				div.resize 
				div.move 
			li.col_1 Block #8
				div.resize 
				div.move 
			li.col_1 Block #9
				div.resize 
				div.move 

	div.elements
		h2 Drag me
		ul.sortable
			li.col_2 Element #1
			li.col_2 Element #2