extends layout

block content
	h1 Blocks

	div.canvas
		h2 Canvas
		ul.connectedSortable
			li.col_2 Block #1
			li.col_2 Block #2
			li.col_1 Block #3
			li.col_3 Block #4
			li.col_4 Block #5
			li.col_1 Block #6
			li.col_1 Block #7
			li.col_1 Block #8
			li.col_1 Block #9

	div.elements
		h2 Drag me
		ul.connectedSortable
			li.col_2 Element #1
			li.col_2 Element #2

	script(type='text/javascript')
		$(function() {
			$('.canvas > ul').sortable({
				helper:"clone"
			}).disableSelection();

			$('.elements > ul').sortable({
				connectWith: '.canvas > ul'
			}).disableSelection();
		});