doctype 5
html(lang='en')
	head
		title Doctopus - sections
		link(rel='stylesheet', type='text/css', href='/css/stylesheet.css')
		script(type='text/javascript', src='/js/jquery-1.9.1.js')
		script(type='text/javascript', src='/js/jquery-ui-1.10.2.custom.min.js')
		block head
	body
		div#container
			div#container-inner
				block content
			div#footer
				a(href='http://localhost:1337/') Home
				|  | 
				a(href='http://localhost:1337/sections') Sections
				|  | 
				a(href='http://localhost:1337/blocks') Blocks