doctype 5
html(lang='en')
	head
		title Doctopus - sections
		link(rel='stylesheet', type='text/css', href='/css/stylesheet.css')
		script(type='text/javascript', src='/js/jquery-1.9.1.min.js')
		script(type='text/javascript', src='/js/underscore-min.js')
		block head
	body
		div#container
			div#container-inner
				block content