extends layout

block head
	script(type='text/javascript', src='/js/zepto.min.js')
	script(type='text/javascript', src='/js/buildmenu.js')
	script(type='text/javascript', src='/js/jquery.nestable.js')

block content
	h1 Sections
	div.sections.dd